li{
    list-style: none;
}

#handle{
 margin-bottom: 2rem;
}

#sidebar{
 margin-right: 2rem;
 color: #2D3748;
}

.float-child{
    float: left;
}

#main{
    border: 2px solid #2D3748;
    width: 900px;
    height: 600px;
    
}

ul[title]::before {
    content: attr(title);
    /* then add some nice styling as needed, eg: */
    display: block;
    font-weight: bold;
    padding: 4px;
    background-color: #EDF2F7;
}

li{
    margin:0.5em;
}

.workspaces li{
    border: 1px solid;
    margin-left: 15px;
}

.rooms li ul li{
    margin:0.25em 0 0.25rem 10px;
}
.rooms img{
    vertical-align: middle;
    margin-right: 3px;
    width: 35px;
    height: 35px;
}

#own-account{
    margin-top: 40px;
    margin-left: 20px;
}
#own-account img{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#handle{
     margin-left:20px;
}
ul.rooms{
    padding-left: 20px;
}

ul.workspaces{
    padding-left: 20px;
}

ul ul{
    padding-left: 0px;
}

#handle select{
    height:25px;
    font-size:14pt;
    width: 260px;
    color: #2D3748;
    /* margin: auto; */
}