.flex-container {
    display: flex;
    height: 100vh;
}

.flex-child:first-child {
    flex: 0 0 280px;
} 

#main{
    flex: 1;
    border: 2px solid #2D3748;    
}

li{
    list-style: none;
}

#sidebar{
 margin-right: 1rem;
 color: #2D3748;
}

ul[title]::before {
    content: attr(title);
    display: block;
    font-weight: bold;
    padding: 4px;
    background-color: #EDF2F7;
}

li{
    margin:0.5em;
}

.workspaces li{
    border: 1px solid;
    margin-left: 15px;
    padding: 4px;
}

.rooms li ul li{
    margin:0.25em 0 0.25rem 10px;
}
.rooms img{
    vertical-align: middle;
    margin-right: 3px;
    width: 35px;
    height: 35px;
}

#own-account{
    margin-top: 20px;
    margin-left: 20px;
}
#own-account img{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#handle{
     margin-left:20px;
}
ul.rooms{
    padding-left: 20px;
}

ul.workspaces{
    padding-left: 20px;
}

ul.workspaces li{
    box-shadow: 5px 5px 4px -2px rgba(0,0,0,0.64);
    border-radius: 6px;
}

ul ul{
    padding-left: 0px;
}

#handle select{
    height:25px;
    font-size:14pt;
    width: 260px;
    color: #2D3748;
    /* margin: auto; */
}